# Tahu lah apa ini?

In [ ]:
# Path to google drive folder
# %cd /content/drive/MyDrive/Colab Notebooks/Disertasi-Ahmad-Rofiqul/002. Laporan-eksperimen
# %cd /content/drive/MyDrive/Colab Notebooks/Disertasi-Ahmad-Rofiqul/002.Experiment_SWI_16052024/

In [3]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split
from sklearn.ensemble import IsolationForest
from sklearn.cluster import DBSCAN
from sklearn.preprocessing import StandardScaler
from sklearn.impute import SimpleImputer
from sklearn.metrics import classification_report
from xgboost import XGBRegressor

from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error
from sklearn.svm import OneClassSVM

In [4]:
# Load the dataset
# file_path = '01.Dataset-Rofiqul/agriculture_dataset.csv'
# file_path = '01.Dataset-Rofiqul/Ujicoba3-29052024/agriculture_dataset.csv'
# file_path = 'dataset/agriculture_dataset.csv'
file_path = 'dataset/09_05_2_0_n2o_outlier_detection_results.csv'
data = pd.read_csv(file_path)

# Display the first few rows of the dataset for review
# data.head(),data.info(),data.describe()

In [5]:
data

,N2O,IF_Outlier,LOF_Outlier,OCSVM_Outlier,Elliptic_Outlier,HBOS_Outlier,DBSCAN_Outlier,Mahalanobis_Distance,Mahalanobis_Outlier
0,3.896742,1,1,1,1,0,0,0.125380,0
1,2.190218,1,1,1,1,0,0,0.185283,0
2,3.542594,1,1,1,1,0,0,0.137812,0
3,3.342870,1,1,1,1,0,0,0.144823,0
4,2.947778,1,1,1,1,0,0,0.158691,0
...,...,...,...,...,...,...,...,...,...
2241,1.640000,1,1,1,1,0,0,0.204597,0
2242,0.990000,1,1,1,1,0,0,0.227413,0
2243,-0.200000,1,1,1,1,0,0,0.269185,0
2244,0.300000,1,1,1,1,0,0,0.251634,0
2245,0.400000,1,1,1,1,0,0,0.248124,0